body{
    background-image: url("bg.png");
    background-repeat: repeat;
}

div#site{
    font-family: Alegreya;
    width: 900px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    background: rgba(255, 255, 255, .7);
    color: #1c1c1c;
}

div#logo{
    font-family: AlegreyaBold;
    text-align: center;
    font-size: 40px;
    color: #1c1c1c;
}

@font-face {
    font-family:Alegreya;
    src: url("fonts/alegreya.otf");
}

@font-face {
    font-family: AlegreyaBold;
    src: url("fonts/alegreya-bold.otf");
}


div#search{
    margin:0 auto;
    width: 557px;
    margin-bottom: 20px;
}

div#search-field{
    float: left;
}


input#search-button{
    height: 36px;
    width: 100px;
    font-size: 20px;
    font-family: Alegreya;
}

input#main-search{
    height:30px;
    width:450px;
    margin-right:3px;
    font-size: 20px;
    font-family: Alegreya;
}

div#footer{
    margin-top: 20px;
    text-align: center;
    color: grey;
}

div#search-result{
    width: 880px;
    overflow: hidden;
    background-color: rgba(240, 240, 240, .4);
    padding: 10px;
    border-bottom: 2px solid #e1e1e1;

}

div#search-result:hover{
    width: 880px;
    overflow: hidden;
    background-color: rgba(240, 240, 240, .8);
    padding: 10px;
    border-bottom: 2px solid #d6d6d6;
}

div#search-result:last-child{
    width: 880px;
    overflow: hidden;
    background-color: rgba(240, 240, 240, .4);
    padding: 10px;
    border-bottom: none;
}

div#search-result:last-child:hover{
    width: 880px;
    overflow: hidden;
    background-color: rgba(240, 240, 240, .8);
    padding: 10px;
    border-bottom: none;
}

div#result-data{
    width: 190px;
    float: left;
    text-align: center;
}

div#result-votes{
    font-size: 40px;
}

div#result-content{
    width: 684px;
    float: left;
    border-left: 1px solid #9a9a9a;
    padding-left: 5px;
}

div#result-title{
    font-size: 20px;
    border-bottom: 1px solid #9a9a9a;
    margin-bottom: 5px;
}

a#result-link{
    color: inherit;
    text-decoration: inherit;
}

a#title{
    color: inherit;
    text-decoration: inherit;
}