<!DOCTYPE html>
<html ng-app="todo">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <title>
        What to do?
    </title>
</head>
<body ng-controller="mainCtrl">
    <div class="container">
        <h1 class="center font-lg">What to do?</h1>
        <h2 class="center font-med">An easy todo list</h2>
        <ul class="list-group">
            <li ng-show="isEmpty()" class="list-group-item font-med main">You don't have anything to do. :(</li>
            <li ng-repeat="todo in todos" ng-class="{'list-group-item-success': todo.done, 'bold': isEdit.value && $index === isEdit.index}" class="list-group-item font-sm">
                {{todo.description}}
                <span ng-click="removeTodo($index)" class="glyphicon glyphicon-remove toolbar"></span>
                <span ng-click="toggleEdit($index)" class="glyphicon glyphicon-pencil toolbar"></span>
                <span ng-click="toggleDone($index)" class="glyphicon glyphicon-ok toolbar"></span>
            </li>
        </ul>
        <form ng-submit="saveTodo()">
            <div class="form-group">
                <input type="text" class="form-control input-lg" ng-model="newTodo.description" placeholder="New todo">
                <input type="submit" value="Save" class="btn btn-primary btn-lg button">
            </div>
        </form>
        <div id="information">
            <span class="glyphicon glyphicon-info-sign"></span>
            This website doesn't save any data to any server, information that you provide is locally stored in your browser.
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script src="underscore-min.js"></script>
    <script src="main.js"></script>
</body>
</html>