$largeFont: 69px;
$siteWidth: 900px;
$informationColor: #8b8b8b;

@font-face {
  src: url('HelveticaNeue-Light.otf');
  font-family: 'HelveticaNeueLight';
}

.center {
  text-align: center;
}

.toolbar {
  float: right;
  margin-left: 10px;
  line-height: 23px;
}

.font-lg {
  font-size: $largeFont;
}

.font-med {
  font-size: $largeFont/2;
}

.font-sm {
  font-size: $largeFont/4;
}

h1, h2 {
  font-family: 'HelveticaNeueLight';
}

.button {
  margin-top: 5px;
  width: 100%;
}

h2 {
  margin-top: 0;
}

div#wrapper {
  margin: 0 auto;
  width: $siteWidth;
}

div#information {
  color: $informationColor;
}