<!DOCTYPE html>
<html ng-app="finalExam">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/style.css">
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
    <title>
        Final exam - Grade calculator
    </title>
</head>
<body ng-controller="mainCtrl" ng-cloak>
<!--
    <header>
        <nav class="fade-in">
            <ul>
                <li class="active">Home</li>
                <li>Info</li>
                <li>Calculator</li>
                <li>Test</li>
            </ul>
        </nav>
        <span id="developer" class="fade-in">
            Developed by: Richard Erdos
        </span>
    </header>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>Home</li>
                </ul>
            </div>
        </div>
    </nav>
-->
<nav class="navbar inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
    <div id="title" class="fade-in">
        <h1>Final Exam</h1>
        <h2>THE APP</h2>
    </div>
    <section class="fade-in">
        <div id="info">
            <span class="bold">Please note:</span> These data are only valid for the Hungarian school leaving exams, also known as Matura exams.
            <div ng-repeat="test in testTypes" class="exam">
                <h3>
                    {{test.name}} exam
                </h3>
                <table class="table">
                    <tr>
                        <th>Grade</th>
                        <th>Percentage</th>
                    </tr>
                    <tr ng-repeat="grade in test.percentages | orderBy:'-id'">
                        <td>{{grade.id+1}}</td>
                        <td>{{test.percentages[grade.id].value}}% - {{grade.id===(test.percentages.length-1)?"100":test.percentages[grade.id+1].value-1}}%</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script src="scripts/main.js"></script>
</body>
</html>